# Ignore everything in the project root by default

/*

# Include repository documentation
!/.gitignore
!/README.md

# Include selected project directories
!/IN_tables/
!/code/
!/OUT_data/
!/meta_table/
!/results/

# Exclude manually edited Inkscape figures
/results/figures/inkscap_edited/

# Ignore R and RStudio session files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Ignore temporary Microsoft Office files
~$*